<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17C88</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PropertyInjector</string>
	<key>CFBundleIdentifier</key>
	<string>de.Brumbaer.PropertyInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PropertyInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Brumbaer. All rights reserved.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>nvAcc</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>Delay</key>
			<integer>20</integer>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>IOPCIMatch</key>
			<string>0x13c210de</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>Brumbaer</key>
				<string>was here</string>
				<key>model</key>
				<data>U2NobnV0emVsd3V0eg==</data>
			</dict>
		</dict>
		<key>CPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>processor-id</key>
				<integer>1</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Properties</key>
			<dict>
				<key>plugin-type</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>LAN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhtee55jhgjglö</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x15b88086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>name</key>
				<data>SW50ZWwgIEkyMTlWMg==</data>
			</dict>
		</dict>
		<key>Vega</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x68631002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>UENJZSB4MTY=</data>
				<key>@0,name</key>
				<string>ATY,Iriri</string>
				<key>@1,name</key>
				<string>ATY,Iriri</string>
				<key>@2,name</key>
				<string>ATY,Iriri</string>
				<key>@3,name</key>
				<string>ATY,Iriri</string>
				<key>model</key>
				<data>UmFkZW9uIFZlZ2EgRnJvbnRpZXI=</data>
			</dict>
		</dict>
		<key>WLAN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjgljh</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x43ba14e4</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Keep</key>
			<true/>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>TS4yKFdpRmkp</data>
				<key>model</key>
				<data>QnJvYWRjb20gQkNNNDN4eA==</data>
				<key>name</key>
				<data>QnJvYWRjb20gQkNNNDN4eA==</data>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>15.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.3</string>
		<key>com.apple.kpi.mach</key>
		<string>15.3</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.3</string>
	</dict>
</dict>
</plist>
