<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17D29a</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PropertyInjector</string>
	<key>CFBundleIdentifier</key>
	<string>de.Brumbaer.PropertyInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PropertyInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AUDIO</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9d708086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>layout-id</key>
				<data>AwAAAA==</data>
				<key>hda-gfx</key>
				<data>b25ib2FyZC0x</data>
				<key>AAPL,slot-name</key>
				<data>QnVpbHRpbg==</data>
				<key>model</key>
				<data>UmVhbHRlayBBTEMyMzMgQ29udHJvbGxlcg==</data>
				<key>name</key>
				<data>UmVhbHRlayBBTEMyMzM=</data>
			</dict>
		</dict>
		<key>IGPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x191e8086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>hda-gfx</key>
				<data>b25ib2FyZC0x</data>
				<key>AAPL,slot-name</key>
				<data>QnVpbHRpbg==</data>
				<key>model</key>
				<data>SEQgR3JhcGhpY3MgNTE1</data>
				<key>name</key>
				<data>SEQgR3JhcGhpY3MgNTE1</data>
			</dict>
		</dict>
		<key>IGPU-Audio</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x280b8086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>layout-id</key>
				<data>MHgwMywgMHgwMCwgMHgwMCwgMHgwMA==</data>
				<key>hda-gfx</key>
				<data>b25ib2FyZC0x</data>
				<key>AAPL,slot-name</key>
				<data>QnVpbHRpbg==</data>
				<key>model</key>
				<data>SW50ZWwgSEQgQXVkaW8=</data>
			</dict>
		</dict>
		<key>HECI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9d3a8086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>model</key>
				<data>QXBwbGUgSW50ZWwgSU1FSSBEUklWRVI=</data>
				<key>name</key>
				<data>U3VucmlzZSBQb2ludC1MUCBDU01FIEhFQ0kgIzE=</data>
			</dict>
		</dict>
		<key>PMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9d218086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>device_type</key>
				<data>UE1D</data>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>model</key>
				<data>QXBwbGUgSW50ZWwgUENIUE1DIChQUE1DKQ==</data>
				<key>name</key>
				<data>U3VucmlzZSBQb2ludC1MUCBQTUM=</data>
			</dict>
		</dict>
		<key>SATA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9d038086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>TS4yIGtleSBN</data>
				<key>model</key>
				<data>QXBwbGUgTlZNZSBTU0QgQ29udHJvbGxlcg==</data>
				<key>name</key>
				<data>U0FNU1VORyBNWk5UWTEyOEhESFAtMDAwMDA=</data>
			</dict>
		</dict>
		<key>I2C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9D608086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>model</key>
				<data>QXBwbGUgSW50ZWwgTHBzcyBJMkMgIzA=</data>
				<key>name</key>
				<data>U3VucmlzZSBQb2ludC1MUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzA=</data>
				<key>device_type</key>
				<data>STJD</data>
			</dict>
		</dict>
		<key>I2C - 2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9D618086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>model</key>
				<data>QXBwbGUgSW50ZWwgTHBzcyBJMkMgIzE=</data>
				<key>name</key>
				<data>U3VucmlzZSBQb2ludC1MUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzE=</data>
				<key>device_type</key>
				<data>STJD</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9d2f8086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>model</key>
				<data>QXBwbGUgSW50ZWwgVVNCIDMuMA==</data>
				<key>name</key>
				<data>U3VucmlzZSBQb2ludC1MUCBVU0IgMy4wIHhIQ0kgQ29udHJvbGxlcg==</data>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Brumbaer. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>15.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.3</string>
		<key>com.apple.kpi.mach</key>
		<string>15.3</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.3</string>
	</dict>
</dict>
</plist>
