<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Vega - 2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x68631002</string>
			<key>IOProviderClass</key>
			<string>AMD10000Controller</string>
			<key>Properties</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_USE_STUTTER</key>
					<false/>
				</dict>
			</dict>
		</dict>
		<key>WLAN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x43ba14e4</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>model</key>
				<data>QnJvYWRjb20gQkNNNDN4eA==</data>
				<key>AAPL,slot-name</key>
				<data>TS4yKFdpRmkp</data>
				<key>name</key>
				<data>QnJvYWRjb20gQkNNNDN4eA==</data>
			</dict>
		</dict>
		<key>LAN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x15b88086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>QnVpbHQgSW4=</data>
				<key>name</key>
				<data>SW50ZWwgIEkyMTlWMg==</data>
			</dict>
		</dict>
		<key>Vega</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x68631002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>CFG_USE_STUTTER</key>
				<false/>
				<key>AAPL,slot-name</key>
				<data>UENJRVgxNl8x</data>
				<key>model</key>
				<data>UmFkZW9uIFZlZ2EgRnJvbnRpZXI=</data>
				<key>@0,name</key>
				<string>ATY,Iriri</string>
				<key>@1,name</key>
				<string>ATY,Iriri</string>
				<key>@2,name</key>
				<string>ATY,Iriri</string>
				<key>@3,name</key>
				<string>ATY,Iriri</string>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Brumbaer. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.mach</key>
		<string>15.3</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.3</string>
		<key>com.apple.kpi.bsd</key>
		<string>15.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.3</string>
	</dict>
</dict>
</plist>
